@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;600&family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-DM-Sans: 'DM Sans', sans-serif;
    --font-work: 'Work Sans', sans-serif;
    --font-arabic: 'Noto Sans Arabic', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: rgb(115, 123, 240);
}

body {
    font-family: var(--font-poppins);
}

.overflow-hidden {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: row;
    overflow-x: hidden;
}


img {
    width: 100%;
}

#wrapperOne {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 100vh;
    min-width: 100%;
    max-height: 812px;
    // background: linear-gradient(to left, #005C97, #363795);
    background: #dce7fd;

    .nav-bar {
        position: absolute;
        top: 15px;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;

        .logo {
            padding-left: 25px;

            a {
                font-weight: 700;
                color: rgb(1, 2, 38);
                font-size: 1.75em;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

    .nav-links {
        position: relative;

        a {
            position: relative;
            text-decoration: none;
            color: rgb(115, 123, 240);
            transition: 300ms;
            padding: 12px 25px;
        }

    }

    .row {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column wrap;
    }

    .padding-left {
        padding-left: 3em;
    }

    .bottom {
        justify-content: flex-end;
        align-items: center;
    }

    img {
        // transform: translateY(-.5em);
        max-width: 650px;
    }

    .title {
        font-size: 4em;
        margin: 0;
        padding: 0em;
        padding-bottom: 0.5em;
        padding-top: 1.25em;
        // transform: translateY(-.85em);
        color: rgb(1, 2, 38);
    }

    .btn-learning {
        display: inline-block;
        outline: none;
        padding: 13px 30px;
        font-size: .9em;
        background: none;
        border: 3px solid #02020A;
        border-radius: 99px;
        color: #02020A;
        font-family: var(--font-poppins);
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        transition: 200ms ease;

        &:hover {
            -webkit-font-smoothing: antialiased;
            // font-weight: 500;
            color: rgb(115, 123, 240);
            border-color: rgb(115, 123, 240);
        }
    }
}

.dropdown-content {
    display: block;
    position: absolute;
    right: -7px;
    top: 160%;
    background: #fff;
    padding: .25em;
    border-radius: 9px;
    border: 0.5px solid rgba(rgb(1, 2, 38), 0.1);
    transform-origin: bottom;
    transform: translateY(4em) scale(1.2);
    opacity: 0;
    z-index: -1;
    user-select: none;
    transition: 400ms;

    li {
        list-style-type: none;
    }

    a {
        border-radius: 6px;
        font-size: .8em;
        display: inline-block;
        width: 100%;
        padding: 12px 25px;
        text-align: center;

        // background: rgba(115, 123, 240,.2);
        &:hover {
            background: rgba(115, 123, 240, .1);

        }
    }
}

.dropdown {
    &:hover {
        .dropdown-content {
            visibility: visible;
            opacity: 1;
            transform: translateY(0) scale(1);
            z-index: 1;
        }
    }
}

#wrapperTwo {
    position: absolute;
    display: block;
    min-height: 100vh;
    min-width: 100%;
    background: #fff;
    transform: translateX(100%);
    transition: 650ms ease;
    overflow-y: auto;

    &.active {
        transform: translateX(0);
        z-index: 2;
    }

    .header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 3em;

        a {
            text-decoration: none;
            font-weight: 700;
            color: #02020A;
            padding: 13px 30px;
            font-size: .9em;
            background: none;
            border: 3px solid #02020A;
            border-radius: 50px;
            -webkit-font-smoothing: antialiased;
            transition: 200ms ease;

            &:hover {
                -webkit-font-smoothing: antialiased;
                // font-weight: 500;
                color: rgb(115, 123, 240);
                border-color: rgb(115, 123, 240);
            }
        }
    }

    .heading {
        font-size: 3em;
        background: linear-gradient(to right, #02c39a 0%, #ffe66d 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: left;
        max-width: 100%;
        padding: .5em 0em;
    }

    .flex-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
        max-width: 100%;
        height: 100%;
        padding: 1em;
        padding-top: 2.5em;
        padding-bottom: 8em;
        background: rgba(#02020a, 0.01);

        .flex-item {
            position: relative;
            width: 26%;
            padding: 2em 1.5em;
            background: #fcfcff;
            margin: 20px;
            border-radius: 8px;
            border: 1px solid rgba(#02020a, .05);
            -webkit-font-smoothing: antialiased;
            box-shadow: 2px 12px 24px 0 rgba(0, 0, 0, 0);
            transition: 300ms ease-in-out;
            cursor: pointer;

            &:hover {
                background: #fff;
                box-shadow: 2px 12px 24px 0 rgba(0, 0, 0, .05);
            }
        }
    }
}

.flex-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

    .surahNameInArabic {
        font-family: var(--font-arabic);
        font-size: 1.17em;
        font-weight: 500;
        color: #8a8a8a;
        margin: 0;
        text-align: right;
        -webkit-font-smoothing: antialiased;
    }

    .surahNameInEnglish {
        font-size: 1.1em;
        font-weight: 700;
        color: #DB162F;
        margin: 0;
    }

    .meaning {
        width: 100%;
        font-weight: 500;
        margin: 0;
        padding-top: 1em;
    }
}

.backgroundWrapper {
    position: fixed;
    display: block;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background: rgba(#f7f7ff, .75);
    padding: 3em;
    padding-top: 3em;
    overflow-y: auto;
    overflow-x: hidden;

    .wrapper {
        position: relative;
        max-width: 100%;
        min-height: 110%;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 50px -28px rgba(0, 0, 0, .25);
        border: 2px solid rgba(0, 0, 0, 0.1);

        .heading-container {
            display: flex;
            justify-content: space-between;
            font-size: 2em;
            margin: 0;
            padding: .25em 1em;
            font-family: var(--font-poppins);
            font-weight: 700;
            -webkit-font-smoothing: antialiased;
            border-bottom: 2px solid rgba(#02020A, 0.05);
        }

        .close-button {
            position: absolute;
            display: block;
            width: 45px;
            height: 45px;
            background: #02020A;
            color: #fff;
            top: -23px;
            right: -23px;
            border-radius: 50%;
            text-align: center;
            line-height: 45px;
            font-size: .9em;
            font-weight: 700;
            cursor: pointer;
            transition: 300ms ease-in-out;

            &:hover {
                background: #ff1a44;
                transform: scale(1.25);
            }
        }

        .list {
            padding: 2.4em 0em;
            padding-top: 0.5em;

            .listItem {
                list-style-type: none;
                padding: 1.5em 2.5em;
                font-size: .9em;
                color: #1b1b1b;
                line-height: 2;

                &:nth-of-type(2n) {
                    background: rgba(3, 0, 5, .05);
                }

                &:nth-of-type(2n+1) {
                    background: #fff;
                }
            }
        }
    }
}

.backgroundWrapper {
    .wrapper-arabic {
        font-family: var(--font-arabic);
    }
}

.pagination-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .pagination-btn {
        width: 50%;
        padding: 2em 0em;
        background: #f0f0f0;
        color: #000;
        text-align: center;
        font-size: 1.15em;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 200ms;
        font-weight: normal;

        &.previous-btn {
            background: #6930c3;
            color: #fff;
            border-radius: 0px;
            border-bottom-left-radius: 9px;

            &:disabled {
                background: #f0f0f0;
                color: #8a8a8a;
            }

            &:not(:disabled):hover {
                background: darken(#6930c3, 5);
                padding-right: 1em;
                font-weight: 600;
            }
        }

        ;

        &.next-btn {
            background: #252525;
            color: #fff;
            border-radius: 0px;
            border-bottom-right-radius: 9px;

            &:disabled {
                background: #f0f0f0;
                color: #8a8a8a;
            }

            &:not(:disabled):hover {
                background: lighten(#252525, 5);
                padding-left: 1em;
                font-weight: 600;
            }
        }
    }
}

.scale-up {
    transform-origin: bottom;
    animation-name: scale-up;
    animation-duration: 700ms;
    animation-fill-mode: both;
    // animation-timing-function: ease;
}

.scale-down {
    transform-origin: top;
    animation-name: scale-down;
    animation-duration: 400ms;
    animation-fill-mode: both;
    // animation-timing-function: ease;
}

.slide-bottom {
    -webkit-animation: slide-bottom 750ms cubic-bezier(0.230, 1.000, 0.320, 1.000) alternate both;
    animation: slide-bottom 750ms cubic-bezier(0.230, 1.000, 0.320, 1.000) alternate both;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade 200ms cubic-bezier(0, 0.2, 0.8, 1);
    z-index: 999;

    &.active {
        display: flex;
    }

    .spinner {
        width: 60px;
        height: 60px;
        margin: 100px auto;
        background-color: #333;

        border-radius: 100%;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0)
        }

        100% {
            -webkit-transform: scale(1.0);
            opacity: 0;
        }
    }

    @keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        100% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
            opacity: 0;
        }
    }

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes scale-up {
    0% {
        transform: scale(.5) translateY(100%);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes scale-up {
    0% {
        transform: scale(.5) translateY(100%);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

@-webkit-keyframes scale-down {
    0% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(0.5) translateY(100%);
    }
}

@keyframes scale-down {
    0% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(0.5) translateY(100%);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-12 20:6:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
    }

    100% {
        -webkit-transform: translateY(1024px) scale(0);
        transform: translateY(1024px) scale(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
    }

    100% {
        -webkit-transform: translateY(1024px) scale(0);
        transform: translateY(1024px) scale(0);
    }
}

@media screen and (max-width:888px) {
    #wrapperOne {
        .title {
            font-size: 3.4em;
        }
    }
}

@media screen and (max-width : 768px) {
    #wrapperOne {
        flex-flow: column wrap;

        .title {
            font-size: 3em;

            padding: {
                left: 1em;
                right: 1em;
            }
        }

        .row {
            width: 100%;
            text-align: center;

            &.padding-left {
                height: 65%;
            }

            &.bottom {
                height: 35%;
            }

            img {
                max-width: 55%;
            }

            &.padding-left {
                align-items: center;
                justify-content: center;
                padding-left: 0;
                // padding-top: 6.5em;
            }
        }
    }

    #wrapperTwo {
        .heading {
            padding: .5em 1em;
            font-size: 2.7em;
        }

        .listContainer {
            .flex-item {
                width: 40%;
            }
        }
    }
}

@media screen and (max-width : 475px) {
    #wrapperOne {
        .title {
            font-size: 2.25em;
        }

        .row {
            img {
                max-width: 85%;
            }
        }

        .btn-learning {
            padding: 11px 25px;
            font-size: .8em;
        }
    }

    #wrapperTwo {
        .heading {
            font-size: 1.85em;
            padding: .5em 0
        }

        .header {
            padding: 0 1.5em;

            a {
                padding: 10px 25px;
                font-size: .8em;
            }
        }



        .listContainer {
            padding-top: 0em;

            .flex-item {
                width: 90%;
            }
        }
    }

    .backgroundWrapper {
        padding: 1.5em;
        padding-top: 2em;

        .wrapper {
            .heading-container {
                font-size: 1.25em;
                padding: 0.5em 1.25em;
            }

            .list {
                .listItem {
                    font-size: 0.8em;
                    padding: 1.5em 2em;
                }
            }
        }
    }
}

@media screen and (max-width:375px) {
    #wrapperOne {
        .nav-bar {
            .logo {
                padding-left: 0;
            }
        }

        .nav-links {
            a {
                padding-right: 0;
            }
        }

        .title {
            font-size: 1.85em;
        }

        .row {
            &.padding-left {
                padding-top: 1.25em;
            }

            img {
                max-width: 85%;
            }
        }
    }

    .dropdown-content {
        a {
            padding: 12px 25px !important;
        }
    }

    #wrapperTwo {
        .heading {
            font-size: 1.5em;
            padding: .5em 0
        }

        .header {
            padding: 0 1em;

            a {
                padding: 10px 25px;
                font-size: .8em;
                border: none;
            }
        }
    }

    .backgroundWrapper {
        padding: 1.75em 1.25em;

        .wrapper {
            .close-button {
                width: 35px;
                height: 35px;
                line-height: 35px;
                font-size: .7em;
                top: -14px;
                right: -14px;
            }

            .heading-container {
                font-size: .95em;
                padding: 0.5em 1.25em;
            }

            .list {
                .listItem {
                    font-size: 0.7em;
                    padding: 2em 1.5em;
                }
            }
        }
    }
}